.navigation {
    display: flex;
    gap: 10px;

    
}

.link {
    text-decoration: none;
    color: brown;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.link:hover {
    color: rgb(234, 8, 8);
}