.list {
    text-decoration: none;
    color: rgb(69, 132, 64);
    
    
}

.list:hover {
    color: rgb(43, 184, 33);
}

.container {
    list-style-type: none;
    margin-top: 0;
	
	padding-left: 10px;
    

}